.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.container {
  max-width: 900px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5vh;
}

.tile {
  padding: 10px;
  background-size: 100%;
  height: 150px;
  width: 150px;
  background-color: whitesmoke;
  margin: 20px;
}

.tile:hover {
  box-shadow: 0px 0px 30px 0px #888888;
}

.tile:active {
  height: 148px;
  width: 148px;
  margin: 21px;
}

.header {
  height: 10vh;
  width: 100%;
  background-color: dodgerblue;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.header-items {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.score-container {
  width: 300px;
  margin-left: 30px;
}

.title {
  width: 300px;
  margin-right: 30px;
}
